## Libraries

Python libraries contain built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming.

In [2]:
# import library

import pandas as pd

pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

In [3]:
# initialise a variable with the url

address = "http://archive.ics.uci.edu/ml/machine-learning-databases/00505/qsar_aquatic_toxicity.csv"

## Reading the dataset

In [4]:
# use the read_csv() function of pandas to read the dataset

data = pd.read_csv(address)

The head() function returns the first n rows for the object based on position. By default, n=5.

In [21]:
data.head()

              0;0;0;2.419;1.225;0.667;0;0;3.740
0             0;0;0;2.638;1.401;0.632;0;0;4.330
1          9.23;11;0;5.799;2.93;0.486;0;0;7.019
2         9.23;11;0;5.453;2.887;0.495;0;0;6.723
3         9.23;11;0;4.068;2.758;0.695;0;0;5.979
4  215.34;327.629;3;0.189;4.677;1.333;0;4;6.064

Since the separator in this case is ';' and not ',', it needs to be specified while calling the dataset. The column names also need to be added.

In [5]:
# list of column names

col_names = ["TPSA(Tot)", "SAacc", "H-050", "ML0GP", "RDCHI", "GATS1p", "nN", "C-040", "Target-LC50"]

In [6]:
data = pd.read_csv(address, names=col_names, sep=";")

data.head()

   TPSA(Tot)  SAacc  H-050  ML0GP  RDCHI  GATS1p  nN  C-040  Target-LC50
0       0.00    0.0      0  2.419  1.225   0.667   0      0        3.740
1       0.00    0.0      0  2.638  1.401   0.632   0      0        4.330
2       9.23   11.0      0  5.799  2.930   0.486   0      0        7.019
3       9.23   11.0      0  5.453  2.887   0.495   0      0        6.723
4       9.23   11.0      0  4.068  2.758   0.695   0      0        5.979

Now, the dataset is in the proper format.

In [7]:
# storing the dataset

data.to_csv("Dataset.csv")